
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*@section home {
    <li class="active ">
      @Html.ActionLink("HOME", "HomeAdmin", "Admin", null, new { @class = "click" })
    </li>
    }*@


